{% extends 'main.html'%}
{% block content%}
<div id="center">

  <form action="{% url 'upload' %}" enctype="multipart/form-data"  method="POST">
    {% csrf_token %}
  
  
    {% for field in form %}
    <div class="my-2">
    <label>{{field.label}}</label>
    <span class="input_field">{{field}}</span>
    

    <br/>
    </div>
    {% endfor %}  
    {% for field in f %}
    <div class="my-2">
      <span class="input_field">{{field}}</span>
    
    {% endfor%}
    <input type="submit" value="Submit">
    <button type="submit" id="login" class="btn btn-primary"><b>Post</b></button>
  
    </form>
</div> 
<script>
   function loadFile(event){
    var image=document.getElementById('output');
    image.src=URL.createObjectURL(event.target.files[0]);
   }
</script>
{% endblock content%}